<div class="bg-dark text-white py-5">
  <h1>Encabezado</h1>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <!-- configuramos las routerLink="(nombre de la ruta)" 
      se usa para no recargar la pagina y cargar el contenido de forma dinamica
      usamos routeLinkActive="active" para que dinamicamente se active la clase active
  -->
    <a class="navbar-brand" routerLink="/">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routeLinkActive="active">
          <a class="nav-link" routerLink="/">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" routeLinkActive="active">
          <a class="nav-link" routerLink="/nosotros">Nosotros</a>
        </li>
        <li class="nav-item" routeLinkActive="active">
          <a class="nav-link" routerLink="/contacto">Contacto</a>
        </li>
      </ul>
    </div>
  </nav>